* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

body{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-color: #afafaf;
}

/* navegación */

.menu {
    position: absolute;
    z-index: 100;
    background-color: #2b0000;
	width: 50%;
	height: 100vh;
}

.menu a{
    transition: .3s;
}

.menu-container {
    position: fixed;
    bottom: 1rem;
    left: 25%;
    transform: translatex(-50%);
}

.menu-item {
    display: inline-block;
    width: 8rem;
}

.menu-item a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 0.2rem 0;
}

.menu-item a:hover,
.menu-item a:active {
    color:#afafaf;
    border-bottom: 5px solid #afafaf;
}

/* Grán título  */

.header {
    color: white;
    margin: 2rem 0;
    font-size: 60px;
    margin-right: 10rem;
}

.texto {
    font-size: 10px;
    color: rgb(189, 189, 189);
    text-align: center;
    margin: 2rem 8rem;
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.texto p{
    text-align: left;
}

/* Título de Artículo */

.section2-container{
    position: fixed;
    background-color: #eeeeee;
	left: 50%;
	width: calc( 100% - 50% );
    height: calc( 100% - 50% );
}

.header2 {
    color: #2b0000;
    margin: 1rem 0;
    margin-right: 20rem;
    margin-left: 0;
    font-size: 25px;
}

.texto2 {
    font-size: 10px;
    color: rgb(31, 31, 31);
    margin: 0 8rem;
    margin-left: 5rem;
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.flecha {
    right: 2rem;
    top: 75%;
    position: absolute;
}

/* Galería */

.section3-container{
    position: fixed;
    background-color: black;
	left: 50%;
    bottom: 0;
	width: calc( 100% - 50% );
    height: calc( 100% - 50% );
}

.header3 {
    color: white;
    margin: 1rem 15rem;
    margin-left: 0;
    font-size: 20px;
    font-weight: lighter;
}

.image-container {
    text-align: center;
    max-width: 31rem;
    margin: 0 auto;
}

.galeria {
    display: inline-block;
    background: white;
    border: 1px solid rgb(112, 112, 112);
    border-radius: 1rem;
    width: 80px;
    height: 80px;
    margin: .5rem .5rem;
}

/* MediaQueries Ipad */

@media screen and (max-width: 50rem){ 
    .menu {
        position: absolute;
        z-index: 100;
        background-color: #2b0000;
        width: 100vw;
        height: 30%;
    }
    
    .menu-container {
        position: fixed;
        top: 0.8rem;
        margin: 0;
        left: 50%;
        transform: translatex(-50%);
    }

    .menu-item {
        margin: 0 1rem;
        display: inline-block;
        color: white;
        width: auto;
    }
    
    .header {
        display: inline-block;
        position: absolute;
        font-size: 25px;
        margin-right: 40rem;
        top: 2rem;
    }
    
    .texto {
        font-size: 10px;
        display: inline-block;
        position: relative;
        overflow: hidden;
        margin-left: 16rem;
        margin-right: 3rem;
        top: 3rem;
    }

    .section2-container{
        top: 30%;
        position: fixed;
        background-color: #eeeeee;
        left: 0;
        width: 100vw;
        height: 30%;
    }

    .header2 {
        display: inline-block;
        position: absolute;
        color: #2b0000;
        font-size: 15px;
        margin-right: 40rem;
        top: 20%;
    }

    .texto2 {
        font-size: 10px;
        display: inline-block;
        position: relative;
        overflow: hidden;
        margin-left: 16rem;
        margin-right: 3rem;
        top: 3.5rem;
    }

    .section3-container{
        position: fixed;
        background-color: #2b0000;
        left: 0;
        bottom: 0;
        width: 100vw;
        height: 40%;
    }

    .header3 {
        font-size: 20px;
    }
    
    .image-container {
        text-align: center;
        max-width: 20rem;
        margin: 0 auto;
    }

    .galeria {
        display: inline-block;
        background: white;
        border: 1px solid rgb(112, 112, 112);
        border-radius: 1rem;
        width: 75px;
        height: 75px;
        margin: 0.2rem 0.2rem;
    }

    .only2 {
        display: none;
    }
}

/* MediaQueries Movil */

@media screen and (max-width: 35rem){
    .menu {
        position: absolute;
        z-index: 100;
        background-color: #2b0000;
        width: 100vw;
        height: 40%;
    }

    .menu-item {
        display: inline-block;
        vertical-align: middle;
        color: white;
        width: auto;
        margin: 0 0.5rem;
    }
    
    .header {
        color: white;
        font-size: 30px;
        margin-right: 20rem;
        top: .5rem;
    }
    
    .texto {
        font-size: 9px;
        text-align: center;
        top: 9rem;
        margin: 1rem 5rem;
    }

    .section2-container{
        top: 40%;
        position: fixed;
        background-color: #eeeeee;
        left: 0;
        width: 100vw;
        height: 25%;
    }

    .header2 {
        color: #2b0000;
        font-size: 12px;
        margin-right: 25rem;
        top: 0;
    }

    .texto2 {
        font-size: 9px;
        text-align: left;
        margin: 1rem 5rem;
    }

    .flecha {
        right: 2rem;
        top: 40%;
        position: absolute;
    }

    .section3-container{
        position: fixed;
        background-color: #2b0000;
        left: 0;
        bottom: 0;
        width: 100vw;
        height: 35%;
    }

    .header3 {
        font-size: 20px;
    }
    
    .image-container {
        margin: 0 8rem;
    }

    .galeria {
        display: inline-block;
        background: white;
        border: 1px solid rgb(112, 112, 112);
        border-radius: 1rem;
        width: 70px;
        height: 70px;
        margin: 0.2rem 0.4rem;
    }

    .only1 {
        display: none;
    }

    .only2 {
        display: none;
    }
}