* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-color: #afafaf;
}

p{
	font-size: .7rem;
}

.menu {
    position: absolute;
    z-index: 100;
    background-color: #7e7e7e;
	width: 50%;
	height: 100vh;
}

.menu-container {
    position: fixed;
    bottom: 1rem;
    left: 25%;
    transform: translatex(-50%);
}

.menu-item {
    display: inline-block;
    color: white;
    width: 8rem;
}

.header {
    margin: 2rem;
    font-size: 100px;
    font-weight: lighter;
}

.texto {
    text-align: center;
    margin: 0 10rem;
}

.texto p{
    text-align: left;
}

.section2-container{
    position: fixed;
    background-color: #eeeeee;
	left: 50%;
	width: calc( 100% - 50% );
    height: calc( 100% - 50% );
}

.header2 {
    margin: 1rem 15rem;
    margin-left: 5rem;
    font-size: 40px;
    font-weight: lighter;
}

.texto2 {
    margin: 0 15rem;
    margin-left: 5rem;
}

.section3-container{
    position: fixed;
    background-color: #8b8b8b;
	left: 50%;
    bottom: 0;
	width: calc( 100% - 50% );
    height: calc( 100% - 50% );
}

.header3 {
    color: white;
    margin: 1rem 15rem;
    margin-left: .5rem;
    font-size: 25px;
    font-weight: lighter;
}

.key-feature__image {
    display: inline-block;
    background: white;
    border: 1px solid rgb(112, 112, 112);
    border-radius: 1rem;
    width: 100px;
    height: 100px;
    margin: 0.5rem 0.5rem;
    margin-left: 3rem;
}

@media screen and (max-width: 50rem){ 
    .menu {
        position: absolute;
        z-index: 100;
        background-color: #7e7e7e;
        width: 100vw;
        height: 30%;
    }
    
    .menu-container {
        position: fixed;
        top: 1rem;
        left: 50%;
        transform: translatex(-50%);
    }

    .menu-item {
        display: inline-block;
        color: white;
        width: 4rem;
    }
    
    .header {
        font-size: 20px;
    }
    
    .texto {
        text-align: right;
        margin: 0 0;
        margin-left: 18rem;
    }

    .section2-container{
        top: 30%;
        position: fixed;
        background-color: #eeeeee;
        left: 0;
        width: 100vw;
        height: 30%;
    }

    .header2 {
        left: 0;
        font-size: 20px;
    }

    .texto2 {
        text-align: left;
        margin: 0 1rem;
        margin-left: 18rem;
    }

    .section3-container{
        position: fixed;
        background-color: #8b8b8b;
        left: 0;
        bottom: 0;
        width: 100vw;
        height: 40%;
    }

    .header3 {
        font-size: 15px;
    }
    
    .key-feature__image {
        display: inline-block;
        background: white;
        border: 1px solid rgb(112, 112, 112);
        border-radius: 1rem;
        width: 80px;
        height: 80px;
        margin: 0.5rem 0.5rem;
        margin-left: 6.5rem;
    }

    .only {
        display: none;
    }
}

@media screen and (max-width: 35rem){
    .menu {
        position: absolute;
        z-index: 100;
        background-color: #7e7e7e;
        width: 100vw;
        height: 40%;
    }
    
    .header {
        font-size: 30px;
        margin-right: 15rem;
        top: 5rem;
    }
    
    .texto {
        text-align: center;
        margin: 1rem 5rem;
    }

    .section2-container{
        top: 40%;
        position: fixed;
        background-color: #eeeeee;
        left: 0;
        width: 100vw;
        height: 25%;
    }

    .header2 {
        left: 0;
        font-size: 15px;
    }

    .texto2 {
        text-align: left;
        margin: 0.5rem 5rem;
    }

    .section3-container{
        position: fixed;
        background-color: #8b8b8b;
        left: 0;
        bottom: 0;
        width: 100vw;
        height: 35%;
    }

    .header3 {
        font-size: 15px;
    }
    
    .key-feature__image {
        display: inline-block;
        background: white;
        border: 1px solid rgb(112, 112, 112);
        border-radius: 1rem;
        width: 70px;
        height: 70px;
        margin: 0.5rem 0.5rem;
        margin-left: 6.5rem;
    }

    .only {
        display: none;
    }
}